html
    head   
        title(class=["MyClass"])=title
    body
        h1(id="header")=header
        p   
            h3= subheader
        ul 
            each val in list
                li=val

    